# akracer==0.0.13
# akshare==1.11.91
ansi2html==1.8.0
appdirs==1.4.4
asgiref==3.6.0
astroid==2.15.0
attrs==22.2.0
beautifulsoup4==4.11.2
blinker==1.7.0
# bs4==0.0.1
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cryptography==40.0.2
cssselect==1.2.0
cycler==0.12.1
dash==2.14.2
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
dill==0.3.6
Django==4.1.7
dodgy==0.2.1
easyquotation==0.7.5
easyutils==0.1.7
et-xmlfile==1.1.0
flake8==5.0.4
flake8-polyfill==1.0.2
Flask==3.0.0
fonttools==4.46.0
frozendict==2.3.8
gitdb==4.0.10
GitPython==3.1.31
html5lib==1.1
idna==3.4
importlib-metadata==7.0.0
importlib-resources==6.1.1
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpath==0.82
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
# lxml==4.9.2
MarkupSafe==2.1.3
matplotlib==3.8.2
mccabe==0.7.0
multitasking==0.0.11
nest-asyncio==1.5.8
# numpy==1.24.2
openpyxl==3.1.2
packaging==23.0
pandas==2.1.3
pandas-datareader==0.10.0
peewee==3.17.0
pep8-naming==0.10.0
Pillow==10.1.0
pip==23.0.1
platformdirs==3.1.1
plotly==5.18.0
poetry-semver==0.1.0
prospector==1.9.0
py-mini-racer==0.6.0
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.3.0
pyflakes==2.5.0
# pylint==2.17.0
# pylint-celery==0.3
# pylint-django==2.5.3
# pylint-flask==0.6
# pylint-plugin-utils==0.7
pyparsing==3.1.1
pypinyin==0.49.0
pyquery==2.0.0
python-dateutil==2.8.2
pytz==2022.7.1
# PyYAML==6.0
requests==2.31.0
requirements-detector==1.1.0
retrying==1.3.4
setoptconf-tmp==0.3.1
# setuptools==65.6.3
simplejson==3.18.3
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.4
sqlparse==0.4.3
tabulate==0.9.0
tenacity==8.2.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tqdm==4.65.0
tushare==1.2.89
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.15
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==3.0.1
wheel==0.38.4
wincertstore==0.2
wrapt==1.15.0
xlrd==2.0.1
yapf==0.31.0
yfinance==0.2.33
zipp==3.17.0
