{% extends 'layout.html' %} {% load static %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            {% comment %} <div class="navbar-fixed-top"></div> {% endcomment %}
            {% comment %} <nav class="navbar navbar-brand navbar-fixed-top"
                role="navigation"> {% endcomment %}
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span><span
                                class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="#">首页</a>
                    </div>

                    <div class="collapse navbar-collapse"
                        id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="#">股票</a>
                            </li>
                            <li>
                                <a href="#">基金</a>
                            </li>
                            <li>
                                <a href="#">REITS</a>
                            </li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-default">搜索</button>
                            </form>

                            <li>
                                {% comment %} <a href="{% url 'login:register' %}">注册</a> {% endcomment %}
                            </li>
                            <li>
                                <a href="{% url 'login:login' %}">登录</a>
                            </li>
                            {% if login %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                    data-toggle="dropdown">
                                    张桢达
                                    <strong class="caret"></strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">我的关注</a>
                                    </li>
                                    {% comment %}
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    {% endcomment %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">退出</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>

                <div class="carousel slide" id="carousel-930323">
                    <ol class="carousel-indicators">
                        <li class="active" data-slide-to="0"
                            data-target="#carousel-930323"></li>
                        <li data-slide-to="1" data-target="#carousel-930323"></li>
                        <li data-slide-to="2" data-target="#carousel-930323"></li>
                    </ol>
                    <div class="carousel-inner" style="display: block; width:
                        100%; height: 500px;">
                        <div class="item active">
                            <!-- img-responsive -->
                            <img alt="" src="{% static 'img/stock.png' %} "
                                <!-- width: 100% height: 500px -->
                                class="img-responsive center-block" width: 100% \9/>
                            <div class="carousel-caption">
                                <h4>First Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in,
                                    egestas eget quam. Donec id elit non mi
                                    porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="{% static 'img/jijin.png' %} "
                                <!-- width: 100% height: 500px -->
                                class="img-responsive center-block" width: 100% \9 />
                            <div class="carousel-caption">
                                <h4>Second Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in,
                                    egestas eget quam. Donec id elit non mi
                                    porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="{% static 'img/reits.png' %} "
                                <!-- width: 100% height: 500px -->
                                class="img-responsive center-block" width: 100% \9 />
                            {% comment %} <img alt="" src="{% static 'img/reits.png' %}" class="img-fluid" /> {% endcomment %}
                            <div class="carousel-caption">
                                <h4>Third Thumbnail label</h4>
                                <p>Cras justo odio, dapibus ac facilisis in,
                                    egestas eget quam. Donec id elit non mi
                                    porta gravida at eget metus. Nullam id dolor
                                    id nibh ultricies vehicula ut id elit.</p>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-930323"
                        data-slide="prev"><span class="glyphicon
                            glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-930323"
                        data-slide="next"><span class="glyphicon
                            glyphicon-chevron-right"></span></a>
                </div>
                <br />
                <h3>实时数据</h3>
                <div class="btn-group">
                    <button class="btn btn-default" type="button"><em
                            class="glyphicon glyphicon-align-left"></em> 左</button>
                    <button class="btn btn-default" type="button"><em
                            class="glyphicon glyphicon-align-center"></em> 中</button>
                    <button class="btn btn-default" type="button"><em
                            class="glyphicon glyphicon-align-right"></em> 右</button>
                    <button class="btn btn-default" type="button"><em
                            class="glyphicon glyphicon-align-justify"></em> 全</button>
                </div>
                <img alt="股票数据丢失"
                    src="http://cdn.ibootstrap.cn/lorempixel.com/140/140/default.jpg"
                    />
                <br />
                <address>
                    <strong>zhenda</strong><br />
                    <!-- 795 Folsom Ave, Suite 600<br />
				San Francisco, CA 94107<br /> -->
                    <abbr title="Phone">Phone:</abbr> 15135376773<br />
                    <abbr title="Phone">Email:</abbr> 1955093734@qq.com
                </address>

                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
