{% extends 'layout_bs4.html' %}
{% load static %}
{% block content %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="#">价值投资平台</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">大盘数据<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">行业板块</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">交易策略</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">交易回测</a>
                </li>

                {#                <li class="nav-item">#}
                {#                    <a class="nav-link disabled">Disabled</a>#}
                {#                </li>#}

            </ul>
            <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>

            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">登录</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                       aria-expanded="false">zhenda</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">我的关注</a>
                        <a class="dropdown-item" href="#">提醒设置</a>
                        <a class="dropdown-item" href="#">退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <img src="{% static 'img/jijin.png' %}" class="img-fluid" alt="大盘数据图片">

    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <address>
                    <strong>zhenda</strong><br/>
                    <!-- 795 Folsom Ave, Suite 600<br />
            San Francisco, CA 94107<br /> -->
                    <abbr title="Phone">Phone:</abbr> 15135376773<br/>
                    <abbr title="Phone">Email:</abbr> 1955093734@qq.com
                </address>
            </div>
        </div>
    </div>
{% endblock %}

