{% extends 'base.html' %}
{#{% extends 'layout_bs4.html' %}#}
{% block sub_content %}

    <div class="container">
        <div class="row">
            <div class="span12">


{#                <h3>更新公告页面</h3>#}
                {% comment %} <div class="col-md-8 block-center"> {% endcomment %}
                {% comment %} <div class="col-md-8 justify-content-md-center "> {% endcomment %}
{#                <div class="col-md-8  col-md-offset-2 column">#}
                    <h1>20xx.xx.xx V1.0.0 更新如下:</h1>
                    <ul>
                        <li>新增功能</li>
                        <ul>
                            <li>新增更新公告页面</li>

                        </ul>
                        <li>优化功能</li>
                        <ul>
                            <li>优化html组织结构</li>
                        </ul>

                    </ul>
{#                </div>#}
            </div>
        </div>
    </div>

{% endblock %}
